// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 20%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #52c6f2; /*428bca -- 3097D1 - color del texto y botones:paginator*/
$brand-info: #EFEFEF; /*8eb4cb*/
$brand-success: #44b262;
$brand-warning: #F2C83A; /*cbb956*/
$brand-danger: #FF3B3F; /*E55E49*/

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #6A6A6A;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: darken($brand-primary, 10%);

// Inputs
$input-border: lighten($brand-primary, 30%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-group-addon-bg: $brand-primary !default;
$input-color: $brand-info !default;

// Panels
$panel-default-heading-bg: #fff;

// Link color
$link-color:            darken($brand-primary, 20%) !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 20%) !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

$pagination-color:                     $link-color !default;
